* {
    box-sizing: border-box;
}
.game {
    width: 600px;
    height: 300px;
    background-color: rgb(236, 175, 175);
    margin: 0 auto;
    position: relative;
}

.stat {
    width: 600px;
    height: 100px;
    background-color: yellow;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.road {
    width: 600px;
    border: 2px solid #000;
    position: absolute;
    bottom: 0px;
    z-index: 3333;
}
.wall {
    width: 100px;
    height: 100px;
    overflow: hidden;

    position: absolute;
    bottom: 0;
    left: 550px;

    background-image: url(./img/1.png);
    background-size: 50px;
}

.speed {
    animation: wallSpead 2s infinite linear;
}
@keyframes wallSpead {
    0% {
        left: 550px;
    }

    100% {
        left: 0px;
    }
}
.player {
    width: 100px;
    height: 100px;

    position: absolute;
    bottom: 0;
    left: 100px;

    background-image: url(./img/2.png);
    background-size: contain;
}
.jump {
    animation: jump 0.5s infinite linear;
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 150px;
    }
    100% {
        bottom: 0;
    }
}
